body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff7f7f;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

#galeria {
  padding: 20px;
  text-align: center;
}

.imagenes img {
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#mensaje {
  padding: 20px;
  background-color: #fff0f0;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ff7f7f;
  color: white;
}
